node_modules

.git
.vscode/*
!.vscode/settings.json

dist
docs

tsconfig.tsbuildinfo
yarn-error.log

test/auth.json
test/db.sqlite
test/node_modules
test/dist
test/src/auth.json

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

test/.yarn/*
!test.yarn/patches
!test.yarn/plugins
!test.yarn/releases
!test.yarn/sdks
!test.yarn/versions